body{
	font-family: Montserrat, sans-serif;
	overflow-x: hidden;
}
.header-menu{
	padding: 30px 0;
}
.logo a{
	font-size: 32px;
	color: black;
	font-weight: 900;
	text-decoration: none;
	border-bottom: 2px solid;
    padding-bottom: 5px;
}
.menu{
	 display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.menu a{
	text-decoration: none;
	color: gray;
}
.menu .unique{
    border: 1px solid black;
    background: black;
    padding: 12px 25px;
}
.menu .unique a{
	color: white;
    letter-spacing: 2px;
}
.menu a:hover{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	transition: 0.3s;
}
.menu .unique a:hover{
	border: none;
}
.menu .unique:hover{
	transition: 3s;
	background: darkgray;
	cursor: pointer;
}

.layout-1{
	height: 620px;
	background-image: url('img/icon-1.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin: 40px;
}
.inside-text{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 150px 0;
}
.inside-text h1{
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    text-transform: none;
    color: white;
}
.inside-text h1 span{
	display: flex;
    justify-content: center;
}
.inside-text p{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: white;
    opacity: 0.26;
}
.exp{
	padding: 40px;
    display: flex;
    justify-content: center;
}
.exp a{
	text-decoration: none;
    color: white;
    padding: 16px 35px;
    background-color: #fff;
    color: #202020;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
}
.exp a:hover{
	transition: 3s;
	background: gray;
}




.layout-2{

}

.main-txt-1{
	margin-bottom: 60px;
}
.main-txt-1 h1{
	margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
}
.main-txt-1 h5{
	margin-bottom: 10px;
    opacity: 0.6;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

.main-pargr{
	margin-top: 60px;
}
.main-pargr p{
	opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
}
.layout-3{
	padding: 100px 0;
	padding-bottom: 0;
}
.title{
	text-align: center;
}
.title h1{
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
}
.title p{
	margin-bottom: 10px;
    opacity: 0.6;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}
.blocks{
	padding: 70px 0;
}
.block{
	width: 100%;
    height: 620px;
    background-color: #f4f4f4;
    background-image: url('img/icon-2.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
}
.block-1{
	width: 100%;
    height: 620px;
    background-color: #f4f4f4;
    background-image: url('img/icon-3.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
    margin-left: 20px;
}
.block-2{
	width: 100%;
    height: 620px;
    background-color: #f4f4f4;
    background-image: url('img/icon-4.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
    margin-left: 40px;
}
.inside-t{
	position: absolute;
	left: 30px;
    top: auto;
    right: auto;
    bottom: 30px;
}
.inside-t h1{
	font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
.inside-t p{
	opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    color: white;
}
.block:hover{
	transition: 2s;
	opacity:0.9;
    cursor: pointer;
}
.block-1:hover{
	transition: 2s;
	opacity:0.9;
    cursor: pointer;
}
.block-2:hover{
	transition: 2s;
	opacity:0.9;
    cursor: pointer;
}

.layout-4{
	margin-right: 0px;
    margin-left: 0px;
    background-color: #f4f4f4;
}
.main-h{
	padding-top: 130px;
	padding-bottom: 140px;
	display: flex;
	margin-bottom: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.main-h h1{
	margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-transform: none;
}
.main-h p{
	opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
}
.main-h button{
	padding: 12px 25px;
    border-radius: 0px;
    background-color: #1a1b1f;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
.main-h input{
    margin-right: 10px;
    width: 330px;
    transition: border-color 400ms ease;
    font-size: 14px;
    line-height: 26px;
    padding: 7px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    outline: none;
}
.main-h button:hover{
	opacity: 0.6;
	transition: 0.3s;
}
/*при натисканні на інпут бордер*/
.main-h input:focus {
  border-color: black;
}

.layout-5{
	padding: 70px 0;
}
.menu-1{
	list-style: none;
    letter-spacing: 1px;
    line-height: 2;
}
.menu-1 li a{
	text-decoration: none;
	color: black;
	margin-bottom: 15px;
    opacity: 0.6;
    transition: color 200ms ease, opacity 200ms ease;
    font-size: 14px;
    text-decoration: none;
}
.menu-1 li a:hover{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	transition: 0.3s;
}
.menu-1 li.important{
margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.layout-6{
	padding: 70px 0;
}
.logotype p img{
	margin-top: -2px;
    margin-right: 8px;
    width: 20px;
}
.logotype p{
	font-size: 12px;
    opacity: 0.6;
    line-height: 20px;
    cursor: pointer;
}
.logotype p:hover{
	opacity: 1;
	transition: 0.4s;
}